#mainContent{
	width:100%;
	height:100%;
	background-color:blue;
	background-image: linear-gradient(bottom, rgb(0,81,242) 100%, rgb(182,217,212) 0%);
	background-image: -o-linear-gradient(bottom, rgb(0,81,242) 100%, rgb(182,217,212) 0%);
	background-image: -moz-linear-gradient(bottom, rgb(0,81,242) 100%, rgb(182,217,212) 0%);
	background-image: -webkit-linear-gradient(bottom, rgb(0,81,242) 100%, rgb(182,217,212) 0%);
	background-image: -ms-linear-gradient(bottom, rgb(0,81,242) 100%, rgb(182,217,212) 0%);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(1, rgb(0,81,242)),color-stop(0, rgb(182,217,212)));
	display:none;
}

#mainContent #background{
	position:absolute;
	left:0%;
	top:0%;
	width:100%;
	height:90%;
}

#mainContent #billboardTop{
	position: absolute;
	top: 0%;
	left: 50%;
	width: 18%;
	height: 5%;
}

#mainContent #billboardBase{
	position:absolute;
	bottom:9.5%;
	left:34%;
	width:55%;
	height:30%;
}

#mainContent #frame{
	position:absolute;
	left:24%;
	top:0%;
	width:75%;
	height:90%;
}


#mainContent #frame #slideshow {  
	position:absolute;
	top:5%;
	left:10%;
	height:70%; 
	width:80%; 
	border:0.5em solid black;
}

#mainContent #frame #slideshow img{
	position:absolute;
	top:0;
	left:0;
	z-index:8;
}

#mainContent #frame #slideshow img.active {
	z-index:10;
}

#mainContent #frame #slideshow img.last-active {
	z-index:9;
}
